package index

import (
	"app/pages/index/indexcomponents"
	"app/pages"
)

type IndexModel struct {
	Names        []string
	DefaultQuery string
}

templ IndexTemplate(model *IndexModel) {
	@pages.Layout() {
		@indexcomponents.SearchTableTemplate(&indexcomponents.SearchTableModel{
			Names:        model.Names,
			DefaultQuery: model.DefaultQuery,
		})
	}
}
