package pages

import (
	"app/pages/components"
)

type IndexModel struct {
	Names []string
}

templ IndexTemplate(model *IndexModel) {
	@Layout() {
		@components.SearchTableTemplate(&components.SearchTableModel{
			Names: model.Names,
		})
	}
}
